/* HK Gorkest */

@font-face {
  font-family: 'Washelm GT';
  src: url('../fonts/Roobert-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Washelm GT';
  src: url('../fonts/Roobert-Medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Washelm GT';
  src: url('../fonts/Roobert-SemiBold.woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Washelm GT';
  src: url('../fonts/Roobert-Bold.woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}