@charset "UTF-8";
@import './app.css';
@import './font.css';
@import './normalize.css';

:root {
  --theme-primary: #592ca0;
  --white: #fafafa;
  --black: #190c2f;
  --accent: #592ca0;
  --light-primary: #f5f5fa;
  --sidebar-width: 260px;
  --gray: #8f9bb3;
  --font-primary: 'Washelm GT';
  --font-lg: 2.84em;
  --font-x-lg: 3.82em;
  --font-x-md: 1.32em;
  --font-md: 1.11em;
  --font-sm: 0.9375em;
  --font-x-sm: 0.97em;
}

::selection {
  background: var(--theme-primary);
  color: var(--white);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--theme-primary);
  color: var(--white);
  /* Gecko Browsers */
}

::-webkit-input-placeholder {
  color: var(--gray);
  opacity: 1;
}

:-moz-placeholder {
  color: var(--gray);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--gray);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--gray);
  opacity: 1;
}

body {
  font-family: var(--font-primary), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin: 0;
  /* background: #fff8f0; */
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  image-rendering: crisp-edges;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.btn-taikai {
  background: var(--theme-primary);
  color: #fff !important;
  border-radius: 4px;
  transition: all 0.5s ease !important;
  border: none;
}


.btn-taikai:hover {
  color: #fff;
  opacity: 0.7;
}



@media (max-width: 990px) {
  :root {
    --font-lg: 1.84em;
    --font-x-lg: 1.92em;
    --font-x-md: 1.24em;
    --font-md: 1em;
    --font-sm: 0.8375em;
    --font-x-sm: 0.92em;
  }

  header {
    display: block !important;
    padding: 4rem 0 !important;
    min-height: auto !important;
  }

  header h1,
  header p {
    text-align: center;
  }
}
